@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.remove-padding-modal .ant-modal-content {
  padding: 5px;
}

.myCustomForm div div div label {
  font-size: 12px !important;
  color: #1c2434;
  font-family: abel;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

@page {
  size: legal;
  margin: 0.5in;
}

@media print {
  html,
  body {
    width: 215.9mm !important;
    height: 355.6mm !important;
    overflow: initial !important;
    padding-right: 5%;
    padding-left: 2.5%;
    padding-top: 2.5%;
  }
}
