@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.remove-padding-modal .ant-modal-content {
  padding: 5px;
}

.myCustomForm div div div label {
  font-size: 12px !important;
  color: #1c2434;
  font-family: abel;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.x-labels {
  background-color: #3c50e0;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.x-labels div.day-label {
  margin-left: 20px;
  font-size: 18px;
  border-right: 1px solid #000;
}

.dayz .day {
  border-right: 1px solid #e2e8f0 !important;
  border-bottom: 1px solid #e2e8f0 !important;
  background-color: #fff;
  border-radius: 10px;
  margin: 3px;
}

.days {
  border-top: 1px solid #e2e8f0 !important;
  border-left: 1px solid #e2e8f0 !important;
}

.event {
  height: 20px !important;
  background-color: #eff4fb !important;
  z-index: 1 !important;
}

.event .evbody div {
  margin-left: 10px;
  cursor: pointer;
}

.event:hover {
  background-color: #eee !important;
}

.event::before {
  content: "";
  width: 5px;
  background-color: #3c50e0;
  position: absolute;
  z-index: 999;
  height: 18px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.is-continuation::before {
  content: "" !important;
  background-color: #fff;
}

.MyForm .ant-form-item-label {
  padding-bottom: 0;
}

div.day {
  min-height: 90px !important;
}

div.outside {
  opacity: 0;
}

.calendar-header {
  background-color: #3c50e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
  display: flex;
  align-items: center;
}

.custom-select-title div:first-child,
.custom-select-title.ant-select-focused div.ant-select-selector {
  background-color: #3c50e0 !important;
  color: #fff;
  border: none !important;
  font-size: 24px;
  padding: 0 !important;
  width: 70px;
}

.custom-select-title.ant-select-open div span:nth-child(2) {
  color: #fff;
  background-color: #3c50e0;
}

.month-controller:hover .next-month,
.next-month:hover,
.month-controller:hover .prev-month,
.prev-month:hover {
  border-color: #4096ff !important;
  color: #4096ff !important;
}

.calendar-header h2 {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #fff !important;
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
  transform: scaleX(1);
}

.main-content .right-content {
  background: #ffa011;
}

.label-no-padding .ant-form-item-label {
  padding-bottom: 0;
}

@page {
  size: legal;
  margin: 0.5in;
}

@media print {
  html,
  body {
    width: 215.9mm !important;
    height: 355.6mm !important;
    overflow: initial !important;
    padding-right: 5%;
    padding-left: 2.5%;
    padding-top: 2.5%;
  }
}
